jars/neutrino-core-framework-integration-5.00.00.00-GA-sources/ws/wsdl/shortMessageService/shortMessageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://www.nucleus.com/schemas/integration/ShortMessageService"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.nucleus.com/schemas/integration/ShortMessageService"
	targetNamespace="http://www.nucleus.com/schemas/integration/ShortMessageService">
	<wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://www.nucleus.com/schemas/integration/ShortMessageService"
			xmlns:tns="http://www.nucleus.com/schemas/integration/ShortMessageService">
			<xsd:element name="shortMessageSendRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<xsd:element name="messageOriginatorId" type="xsd:string"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name="from" type="xsd:string"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name="to" type="xsd:string"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name="body" type="xsd:string"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name = "uniqueId" type = "xsd:string" minOccurs="0"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name = "correlationId" type = "xsd:string" minOccurs="0"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name = "asyncRequest" type = "xsd:boolean" minOccurs="0"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />		
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="shortMessageSendResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<xsd:element name="receiptTimestamp" type="xsd:dateTime"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name="messageReceiptId" type="xsd:string"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name="deliveryStatus" type="tns:deliveryStatus"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name="messageStatus" type="xsd:string"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="deliveryStatus"
				xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:restriction base="xsd:string"
					xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<xsd:enumeration value="DELIVERED"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
					<xsd:enumeration value="FAILED"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
					<xsd:enumeration value="DELAYED"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
					<xsd:enumeration value="PENDING"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
					<xsd:enumeration value="NOT_APPLICABLE"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="transactionId" type="xsd:string"
				xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="shortMessageSendResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:part element="tns:shortMessageSendResponse" name="shortMessageSendResponse"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="shortMessageSendRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:part element="tns:shortMessageSendRequest" name="shortMessageSendRequest"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="shortMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:operation name="shortMessageSend" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<wsdl:input message="tns:shortMessageSendRequest" name="shortMessageSendRequest"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:input>
			<wsdl:output message="tns:shortMessageSendResponse" name="shortMessageSendResponse"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="shortMessageSoap11" type="tns:shortMessage"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="shortMessageSend" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<soap:operation soapAction=""
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input name="shortMessageSendRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output name="shortMessageSendResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="shortMessageService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:port binding="tns:shortMessageSoap11" name="shortMessageSoap11"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<soap:address location="http://localhost:8082/finnone-integration/ws/shortMessageService/"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>