jars/neutrino-core-framework-integration-5.00.00.00-GA-sources/ws/wsdl/pushNotificationService/pushNotificationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://www.nucleus.com/schemas/integration/PushNotificationService"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.nucleus.com/schemas/integration/PushNotificationService"
	targetNamespace="http://www.nucleus.com/schemas/integration/PushNotificationService">
	<wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://www.nucleus.com/schemas/integration/PushNotificationService"
			xmlns:tns="http://www.nucleus.com/schemas/integration/PushNotificationService">
			<xsd:element name="pushNotificationRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<xsd:element name="deviceId" type="xsd:string"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name="body" type="xsd:string"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name = "uniqueId" type = "xsd:string" minOccurs="0"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name = "correlationId" type = "xsd:string" minOccurs="0"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name = "asyncRequest" type = "xsd:boolean" minOccurs="0"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />		
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pushNotificationResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<xsd:element name="receiptTimestamp" type="xsd:dateTime"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name="messageReceiptId" type="xsd:string"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name="deliveryStatus" type="tns:deliveryStatus"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
						<xsd:element name="messageStatus" type="xsd:string"
							xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="deliveryStatus"
				xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:restriction base="xsd:string"
					xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<xsd:enumeration value="DELIVERED"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
					<xsd:enumeration value="FAILED"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
					<xsd:enumeration value="DELAYED"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
					<xsd:enumeration value="PENDING"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
					<xsd:enumeration value="NOT_APPLICABLE"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="transactionId" type="xsd:string"
				xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="pushNotificationResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:part element="sch:pushNotificationResponse" name="pushNotificationResponse"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="pushNotificationRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:part element="sch:pushNotificationRequest" name="pushNotificationRequest"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="pushNotification" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:operation name="pushNotification" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<wsdl:input message="tns:pushNotificationRequest" name="pushNotificationRequest"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:input>
			<wsdl:output message="tns:pushNotificationResponse" name="pushNotificationResponse"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="pushNotificationSoap11" type="tns:pushNotification"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="pushNotification" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<soap:operation soapAction=""
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input name="pushNotificationRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output name="pushNotificationResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PushNotificationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:port binding="tns:pushNotificationSoap11" name="pushNotificationSoap11"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<soap:address location="http://localhost:8082/finnone-integration/ws/PushNotificationService/"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>