jars/neutrino-core-framework-integration-5.00.00.00-GA-sources/ws/wsdl/mailMessageService/mailMessageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.nucleus.com/schemas/integration/MailMessageService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.nucleus.com/schemas/integration/MailMessageService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.nucleus.com/schemas/integration/MailMessageService">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.nucleus.com/schemas/integration/MailMessageService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="mailSendRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MessageMetadata" type="tns:mailMessageMetadata"/>
            <xsd:element name="MessageContent" type="tns:mailMessageContent"/>
            <xsd:element minOccurs="0" name="asyncRequest" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mailSendResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="receiptTimestamp" type="xsd:dateTime"/>
            <xsd:element name="messageReceiptId" type="xsd:string"/>
            <xsd:element name="deliveryStatus" type="tns:deliveryStatus"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deliveryReportRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="messageOriginatorId" type="xsd:string"/>
            <xsd:element name="queryTimestamp" type="xsd:dateTime"/>
            <xsd:choice>
              <xsd:element name="queryFilter" type="tns:deliveryReportQuery"/>
              <xsd:element name="messageReceiptId" type="xsd:string"/>
            </xsd:choice>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deliveryReportResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="messageDeliveryReports" nillable="true" type="tns:messageDeliveryReport"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="transactionId" type="xsd:string"/>
      <xsd:complexType name="mailMessageMetadata">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="bcc" type="xsd:string"/>
          <xsd:element minOccurs="0" name="cc" type="xsd:string"/>
          <xsd:element name="from" type="xsd:string"/>
          <xsd:element minOccurs="0" name="subject" type="xsd:string"/>
          <xsd:element name="to" type="xsd:string"/>
          <xsd:element name="smtpServerInfo" type="tns:SMTPServerInfo"/>
          <xsd:element name="messageOriginatorId" type="xsd:string"/>
          <xsd:element name="sentTimestamp" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="uniqueId" type="xsd:string"/>
          <xsd:element minOccurs="0" name="correlationId" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="mailMessageContent">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="messageContentEncoding" type="xsd:string"/>
          <xsd:element name="messageContentByteStream" type="xsd:base64Binary" xmime:expectedContentTypes="message/rfc822" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SMTPServerInfo">
        <xsd:sequence>
          <xsd:element name="host" type="xsd:string"/>
          <xsd:element name="port" type="xsd:integer"/>
          <xsd:element default="smtp" name="protocol" type="xsd:string"/>
          <xsd:element name="authenticationRequired" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="username" type="xsd:string"/>
          <xsd:element minOccurs="0" name="password" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="messageDeliveryReport">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="comment" type="xsd:string"/>
          <xsd:element name="deliveryStatus" type="tns:deliveryStatus"/>
          <xsd:element name="description" type="xsd:string"/>
          <xsd:element name="messageId" type="xsd:string"/>
          <xsd:element name="messageOriginatorId" type="xsd:string"/>
          <xsd:element minOccurs="0" name="messageOriginatorName" type="xsd:string"/>
          <xsd:element name="arrivalTimestamp" type="xsd:dateTime"/>
          <xsd:element name="deliveryTimestamp" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="deliveryStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="DELIVERED"/>
          <xsd:enumeration value="FAILED"/>
          <xsd:enumeration value="DELAYED"/>
          <xsd:enumeration value="NOT_APPLICABLE"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="deliveryReportQuery">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="DELIVERED_ONLY"/>
          <xsd:enumeration value="FAILED_ONLY"/>
          <xsd:enumeration value="DELAYED_ONLY"/>
          <xsd:enumeration value="ALL"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="transactionId">
    <wsdl:part element="tns:transactionId" name="transactionId"/>
  </wsdl:message>
  <wsdl:message name="mailSendRequest">
    <wsdl:part element="tns:mailSendRequest" name="mailSendRequest"/>
  </wsdl:message>
  <wsdl:message name="mailSendResponse">
    <wsdl:part element="tns:mailSendResponse" name="mailSendResponse"/>
  </wsdl:message>
  <wsdl:message name="deliveryReportResponse">
    <wsdl:part element="tns:deliveryReportResponse" name="deliveryReportResponse"/>
  </wsdl:message>
  <wsdl:message name="deliveryReportRequest">
    <wsdl:part element="tns:deliveryReportRequest" name="deliveryReportRequest"/>
  </wsdl:message>
  <wsdl:portType name="mailMessage">
    <wsdl:operation name="mailSend">
      <wsdl:input message="tns:mailSendRequest" name="mailSendRequest"/>
      <wsdl:output message="tns:mailSendResponse" name="mailSendResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deliveryReport">
      <wsdl:input message="tns:deliveryReportRequest" name="deliveryReportRequest"/>
      <wsdl:output message="tns:deliveryReportResponse" name="deliveryReportResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="mailMessageSoap11" type="tns:mailMessage">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="mailSend">
      <soap:operation soapAction=""/>
      <wsdl:input name="mailSendRequest">
        <soap:body use="literal"/>
        <soap:header message="tns:transactionId" part="transactionId" use="literal"/>
      </wsdl:input>
      <wsdl:output name="mailSendResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliveryReport">
      <soap:operation soapAction=""/>
      <wsdl:input name="deliveryReportRequest">
        <soap:body use="literal"/>
        <soap:header message="tns:transactionId" part="transactionId" use="literal"/>
      </wsdl:input>
      <wsdl:output name="deliveryReportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="mailMessageService">
    <wsdl:port binding="tns:mailMessageSoap11" name="mailMessageSoap11">
      <soap:address location="http://10.1.50.191:8080/finnone-integration/ws/mailMessageService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>